<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CredentialKeyVaultAccessCertThumbprint" value="e1934eed6957b11f6cbe3fc49d97e4e6a266cf88"/>
    <add key="CredentialKeyVaultAuthClientId" value="93e156b2-cdf2-41c7-b49e-51963adb7b80"/>    
    <add key="sslCertUri" value="https://httpsapitest.vault.azure.cn/secrets/HttpsApiTestCert/6e0d3d56b3574486a2ffb9bf78ce98c6"/>
  </appSettings>
</configuration>